.exit-button {
    display: flex;
    text-decoration: none;
    border: 2px solid red;
    color: red;
    border-radius: 1.25em;
    padding: 5px 30px;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 2em;    
    font-family: 'Bree Serif', serif;
}

.exit-button:hover {
    border-color: rgb(216, 10, 10);
    background-color: red;
    color: white;
}