.no-orders-container{
    height: 100vh;
    display: block;
    text-align: center;
    padding-top: 50px;
    background-color: var(--bkg_color_gray);
}

.no-orders-container .message{
    color: var(--light_gray);
    font-family: 'Lato', sans-serif;
}