.centralizeBoard {
    width: 100%;
    text-align: center;
    background-color: #fff;
    padding: 5em;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admin-icon{
    border: 2px solid var(--light_gray);
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
}

.admin-icon h1{
    color: var(--light_gray);
    font-size: 1.9em;
}
