.sidebar{
    display: flex;
    justify-content: flex-end;
}

.nav-menu{
    display: flex;
    background-color: white;
    width:300px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    right:-100%;
    transition: 850ms;
    z-index: 2;
}

.nav-menu.active{
    right:0;
    transition: 350ms;
}


.navbar-toggle{
    width: auto;
    align-self: flex-start;
    margin-right: auto;
}


.close-button{
    margin: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: 1;
}

.overlay.visible {
    right: 0;
    bottom: 0;
    opacity: 1;
    transition: opacity 0.4s;
}