.centralizeBoard {
    width: 100%;
    text-align: center;
    background-color: #fff;
    padding: 5em;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.createProductButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 50px;
    background-color: var(--purple);
    margin-top: 20px;
    color: #fff;
    border-radius: 30px 30px 30px 30px;
}

.createProductButtonIcon {
    margin-right: 1em;
    margin-left: -1em;
}