

/*Section que engloba a imagem e o texto*/
.product-container{
    display: grid;
    background-color: white;
}

/*secao de informacoes do produto*/
.info-container{
    padding: 20px;
    background-color: var(--bkg_color_gray);
}

.product-info-container{
    margin: 50px;
    background-color: white;
    border-radius: 3vw;
    padding: 50px;
    color: var(--dark_gray_font);
}

/*secao com botoes de adicionar ao carrinho e num de itens*/
.num-and-cart-container{
    width: var(--card_width);
    margin: 0.5em;
    display: grid;
    justify-content: start;
    align-items: center;
}

.out-of-stock-message{
    color:tomato;
    font-weight: 600;
}

.edit-product-button {
    border: 2px solid var(--light_gray);
    color: var(--light_gray);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-size: 1.5em;
    font-family: 'Bree Serif', serif;
    border-radius: 1.25em;
}

.edit-product-button:hover {
    color: white;
    background-color: var(--light_gray);
}

.exit-button {
    display: flex;
    text-decoration: none;
    border: 2px solid red;
    color: red;
    border-radius: 1.25em;
    padding: 5px 30px;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1.5em;    
    font-family: 'Bree Serif', serif;
}

.exit-button:hover {
    border-color: rgb(216, 10, 10);
    background-color: red;
    color: white;
}

.button-container {
    display: flex;
    /* exibe os botões em uma linha */
    justify-content: space-between;
    /* centraliza os botões horizontalmente */
    margin-top: 2em;
    margin-bottom: 1em;
    /* adiciona espaçamento inferior entre os botões */
}

.button-container .edit-product-button,
.button-container .exit-button {
  flex: 1;
  /* faz os botões ocuparem a mesma largura */
  height: 80px;
  /* define uma altura fixa para os botões */
  margin-right: 10px;
  /* adiciona um espaçamento à direita entre os botões */
}

/*Responsividade*/
@media screen and (min-width: 300px) { /* mobile */
    /* grid */
    .product-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .num-and-cart-container{
        grid-template-columns: auto auto auto;
    }

}

/*Responsividade*/
@media screen and (min-width: 750px) { /* mobile */
    /* grid */
    .product-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .num-and-cart-container{
        grid-template-columns: repeat(1, 1fr);
    }


}

/*Responsividade*/
@media screen and (min-width: 1300px) { /* mobile */
    /* grid */
    .product-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .num-and-cart-container{
        grid-template-columns: auto auto auto;
    }

    .add-to-cart-container{
        margin-left: 1.5em;
    }

}