/* 
 * ------------------------------------------------
 * DEFINICOES E PROPRIEDADES GERAIS PRO SITE     ||
 * ------------------------------------------------
*/

/* --- Reset + propriedades globais */
* {
	padding: 0;
	margin: 0;
    box-sizing: border-box;
    font-family: Georgia, Serif;
    text-decoration: none;
    list-style: none;
}

html {
    --bkg_color_gray: #EEEAE7;
    --purple: #9B64AC;
    --dark_purple: #7e3f91;
    --dark_gray_font: #47525E;
    --light_gray: #999;
    --coral:#FE8F5F;
}

body {
    background-image: url("./assets/visual_identity/backgrounds/fundo_menor_gray_maior.png");
    background-color: #fff;
    z-index: -3;
}