.profileBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* Alteração: inicia o alinhamento a partir do topo */
    text-align: center;
    height: 100vh;
    /* Define a altura total da página */
}

.profileBox h1 {
    margin-bottom: 10px;
}

.profileBox h2 {
    margin-bottom: 20px;
}

.profileBox .button-container {
    display: flex;
    /* Alteração: exibe os botões em uma linha */
    justify-content: center;
    /* Alteração: centraliza os botões horizontalmente */
    margin-bottom: 10px;
    /* Alteração: adiciona espaçamento inferior entre os botões */
}

.profileBox .button-container a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin: 0 5px;
    /* Alteração: adiciona espaçamento horizontal entre os botões */
}

/* Mudar, pois não está sendo aplicado, por algum motivo */
.button {
    border-radius: 1.25em;
    padding: .3em 1.8em;
    font-size: 2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Bree Serif', serif;
    margin-top: 1.5em;
}

.edit-profile-button {
    border: 2px solid var(--light_gray);
    color: var(--light_gray);
    background-color: white;
}

.edit-profile-button:hover {
    color: white;
    background-color: var(--light_gray);
}

.my-orders-button {
    color: white;
    background-color: var(--purple);
}

.my-orders-button:hover {
    background-color: var(--dark_purple);
}