/* 
 * ------------------------------------------------
 * CSS PADRAO DO SITE                             ||
 * ------------------------------------------------
*/

/* --- Reset + propriedades globais */
* {
	padding: 0;
	margin: 0;
    box-sizing: border-box;
    font-family: Georgia, Serif;
}

/* --- Barra de navegacao do site --- */
#myHeader {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-height: 100px;
    flex-direction: row;
}

#logoJagua {
    height: 100%;
    flex-basis: 0;
    flex-grow: 0.5;
    flex-flow: column;
    margin: 0 auto;
    position: relative;
    
}

#logoJagua img {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 95px;
}

nav {
    position: relative; /* A animacao JS usa isso */
    z-index: 2; /* A animacao JS usa isso */
    flex-basis: 0;
    flex-grow: 2;
    min-height: 95px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
}

nav ul li a {
    padding: 20px 20px 5px 20px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

nav #highlightNavBar {
    background-color: #ff9052;
    position: relative;
    height: 30px;
    top: -25px;
    z-index: -1;
    transition: 0.5s;
    border-radius: 10px;
    opacity: 0.7;
    left: 0;
    width: 0;
}

#loginButton {
    display: flex;
    height: 100%;
    z-index: 2;
    min-height: 95px;
}

#loginButton button {
    padding: 10px 25px;
    background-color: rgba(44, 44, 44, 1);
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    margin: 0 20px;
}

#loginButton button:hover {
    background-color: rgba(44, 44, 44, 0.5);
}

/* Rodape do site */
footer {
    background-color: #000;
    color: #fff;
}