/* 
 * ------------------------------------------------
 * BANNER DE ITENS-DESTAQUE (usado na home)       ||
 * ------------------------------------------------
*/

body{
    width: 100vw;
}
/* Banner de novidades */
#newProductsHighlight {
    display: flex;
    background-color: #fff;
    background-repeat: repeat-x;
    /*margin-top: 50px;*/
    display: flex;
    justify-content: left;
    align-content: center;
    z-index: 0;
    position: relative;
    box-shadow: 2px 1px 1px 1px #bbb;
}

#newProductImg{
    width: 100vw;
}

#newProductsHighlight h1 {
    padding-top: 2%;
    padding-left: 5%;
    align-self: center;
    font-size: 5em;
    width: 40%;
}

/* Responsividade do Banner */
@media screen and (max-width: 1050px) {
    #newProductsHighlight {
        height: 300px;
        margin-top: 20px;
    }

    #newProductsHighlight h1 {
        font-size: 3em;
    }
}