/* 
 * ------------------------------------------------
 * BANNER DE ITENS-DESTAQUE (usado na home)       ||
 * ------------------------------------------------
*/

/* Banner de novidades */
#newProductsHighlight {
    background-color: rgba(255, 144, 82, 0.5);
    background-image: url("../visual_identity/backgrounds/pawns.png");
    height: 220px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: -1;
    /* border: 10px solid seagreen; */
}

#newProductsHighlight h1 {
    padding-top: 5%;
}
