/* 
 * ------------------------------------------------
 * BANNER DE ITENS-DESTAQUE (usado na home)       ||
 * ------------------------------------------------
*/

body{
    width: 100vw;
    font-size:16px;
}

/* Banner de novidades */
#newProductsHighlight {
    display: flex;
    background-color: #fff;
    background-repeat: repeat-x;
    /*margin-top: 50px;*/
    display: flex;
    justify-content: left;
    align-content: center;
    z-index: 0;
    position: relative;
    box-shadow: 2px 1px 1px 1px #bbb;
}

#newProductImg{
    width: 100vw;
}

#newProductsHighlight h1 {
    padding-top: 2%;
    padding-left: 5%;
    align-self: center;
    font-size: 5em;
    width: 40%;
}

/* Responsividade do Banner */

@media screen and (min-width: 300px) { /* mobile */
    #newProductsHighlight {
        height: 10em;
    }

    #newProductsHighlight h1 {
        font-size: 3em;
    }
}

@media screen and (min-width: 500px) { /* tablet */
    #newProductsHighlight {
        height: 15em;
    }

    #newProductsHighlight h1 {
        font-size: 3em;
    }
}

@media screen and (min-width: 700px) { /* tablet */
    #newProductsHighlight {
        height: 20em;
    }

    #newProductsHighlight h1 {
        font-size: 3em;
    }
}


@media screen and (min-width: 900px) { /* desktops */
    #newProductsHighlight {
        height: 24em;
    }

    #newProductsHighlight h1 {
        font-size: 3em;
    }
}

@media screen and (min-width: 1200px) {
    #newProductsHighlight {
        height: 34em;
    }

    #newProductsHighlight h1 {
        font-size: 3em;
    }
}
