/* 
 * ---------------------------------------------------------------------------------------------
 * CSS PARA O CATALOGO/GRID DE PRODUTOS (usado na home e nas paginas de cada secao especifica ||
 * ---------------------------------------------------------------------------------------------
*/

/* Catalogo incluindo as categorias dos itens ('corpo' da pagina home)*/
#bodyWrapper {
    display: block;
    padding-top: 50px;
    font-size: 16px;
}

html{
    --bkg_color_gray: #EEEAE7;
    --purple: #9B64AC;
    --dark_gray_font: #47525E;
    --light_gray: #999;
    --coral:#FE8F5F;
}


/* Catalogo de produtos */
.allProductsCatalog { /* Elemento pai do grid */
    background-color: #fff;
    display: grid;
    min-height: 70vh;
    padding-top: 30px;
    border-radius: 2vw;
    box-shadow: 5px 5px 20px var(--light_gray);
}


#bodyWrapper h1 {
    font-size: 1.5em;
    display: block;
    font-family: 'Bree Serif', serif;
    font-weight: 100;
    color: var(--dark_gray_font);
    padding: 1.5vw;
    background-color: #fff;
    max-width: 48em;
    border-radius: 1vw;
}


/* Separacao dos cards */
.printsCatalog, .stickersCatalog, .shirtsCatalog {
    margin-bottom: 2.5em;
}


/* Produto individual */
.allProductsCatalog .productCard { /* Elemento pai dos elementos do card */
    position: relative;
    /*min-height: 44.5em;*/
    /*min-height: 700px; -> mudei para tentar padronizar (não sei se funcionou)*/
    max-height: 47em;
    overflow: hidden;
    border-radius: 30px 30px 0 0;
    /* border: 5px solid red; */
    text-align: center;
} 

/* Elementos internos ao produto */
.productCard img {
    width: 80%;
    height: 55%;
    border-radius: 30px 30px 0 0;
    margin: 0 auto;
    display: block;
    /*box-shadow: -5px 3px 20px #888888*/
}

.productCard .productNameOnGrid {
    position: relative;
    font-size: 1.2em;
    font-weight: 100;
    color:var(--dark_gray_font);
    top: 20px;
    display: block;
    font-family: 'Bree Serif', serif;
}

.productRuler {
    background-color: purple;
    position: relative;
    height: 2px;
    width: 250px;
    margin: auto;
    top: 30px;
}


.productCard .productPrice {
    color: var(--dark_gray_font);
    font-size: 1.6em;
    font-weight: 600;
    position: relative;
    top: 40px;
    display: block;
    font-family: 'Oswald', sans-serif;
}

.productCard .productSize {
    position: relative;
    top: 3.3em;
}

.productCard .productSize p {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    color: var(--dark_gray_font);
}

.productCard .productSize span {
    width: 2em;
    height: 2em;
    margin: 0.35em;
    padding: 0.2em;
    background-color: #fff;
    color: var(--dark_gray_font);
    border: 0.13em solid var(--dark_gray_font);
    border-radius: 100%;
    position: relative;
    display: inline-block;
    font-family: 'Bree Serif', serif;
    font-size: 1.2em;
}

.productCard .buyProductButton {
    border: 0.13em solid #185424;
    color: #185424;
    border-radius: 50px;
    padding: 0.4em 2em;
    position: relative;
    top: 80px;
    font-size: 1.3em;
    text-decoration: none;
    font-family: 'Bree Serif', serif;
    font-weight: 500;
}

.productCard .buyProductButton:hover {
    background-color: rgba(24, 84, 36, 0.3);
}

/* Responsividade */

@media screen and (max-width: 1500px) {
    .productRuler {
        width: 150px;
    }
}


@media screen and (min-width: 200px) { /* mobile */
    /* grid */
    .allProductsCatalog {
        grid-template-columns: repeat(1, 1fr);
    }

    .allProductsCatalog .productCard {
        min-height: 35em;
    }

    /* margem do corpo do site */
    #bodyWrapper {
        margin: -1px 20px;
    }
}


/*aplicar essas propriedades se a tela tiver pelo menos 300px de largura*/
@media screen and (min-width: 300px) { /* mobile */
    /* grid */
    .allProductsCatalog {
        grid-template-columns: repeat(1, 1fr);
    }

    .allProductsCatalog .productCard {
        min-height: 44.5em;
    }

    /* margem do corpo do site */
    #bodyWrapper {
        margin: -1px 20px;
    }
}

@media screen and (min-width: 500px) { /* tablet */
    /* grid */
    .allProductsCatalog {
        grid-template-columns: repeat(2, 1fr);
    }
    .allProductsCatalog .productCard {
        min-height: 35em;
    }

    
    /* margem do corpo do site */
    #bodyWrapper {
        margin: -1px 40px;
    }
}

@media screen and (min-width: 650px) { /* tablet */
    /* grid */
    .allProductsCatalog {
        grid-template-columns: repeat(2, 1fr);
    }
    .allProductsCatalog .productCard {
        min-height: 44.5em;
    }

    
    /* margem do corpo do site */
    #bodyWrapper {
        margin: -1px 40px;
    }
}

@media screen and (min-width: 900px) { /* desktops */
    /* grid */
    .allProductsCatalog {
        grid-template-columns: repeat(3, 1fr);
    }
    .allProductsCatalog .productCard {
        min-height: 44.5em;
    }
    /* margem do corpo do site */
    #bodyWrapper {
        margin: -1px 60px;
    }
}

@media screen and (min-width: 1200px) {
    /* grid */
    .allProductsCatalog {
        grid-template-columns: repeat(5, 1fr);
    }

    .allProductsCatalog .productCard {
        min-height: 40em;
    }
    
    /* margem do corpo do site */
    #bodyWrapper {
        margin: -1px 100px 20px 100px;
    }
}
