/* 
 * --------------------------------
 * CSS PARA O DETALHE DO PRODUTO ||
 * --------------------------------
*/
html{
    --bkg_color_gray: #EEEAE7;
    --purple: #9B64AC;
    --dark_gray_font: #47525E;
    --light_gray: #999;
    --coral:#FE8F5F;

    --img_width: 50vw;
    --info_width: 50vw;
    --div_height: 100vw;


    --card_margin: 4vw;
    --card_padding: 2.5vw;
    --card_width: calc(50vw-(2*var(--card_margin)));

    --size_span_margin:2vw 2vw 1vw 2vw;
    --size_span_padding:2vw;
    --size_span_font_size: 2vw;

    --button_padding:1vw;
    --button_margin:1vw;
}

body{
    width: 100vw;
}

/*contem a imagem e a secao de informacoes do produto*/
.grid_container{
    display: grid;
    grid-template-columns: auto auto auto;
}


/*Secao de imagem */
.img_section{
    width:var(--img_width);
    height: var(--div_height);
    background-color: var(--coral);
}

#img_product{
    width:100%;
}

/*secao de informacoes do produto*/
.info_section{
    width:var(--info_width);
    height: var(--div_height);
    background-color: var(--bkg_color_gray);
}

#product_info{
    width:var(--card_width);
    margin: var(--card_margin);
    padding: var(--card_padding);
    background-color: white;
    border-radius: 3vw;

    color: var(--dark_gray_font);
    font-size: 1.8vw;
}

h4, h3, h1{
    margin-top: 2vw;
}

#price{
    color: var(--purple);
}

.productSize{
    width: 100%;
    padding-bottom: 2vw;
    display: flex;
    justify-content: center;
}

/*Circulos com os tipos de tamanho*/
#product_info .productSize span {
    margin: var(--size_span_margin);
    padding: var(--size_span_padding);
    background-color: #fff;
    border: 0.25vw solid #999;
    border-radius: 100%;
    top: 5px;
    
    font-family: 'Zilla Slab', serif; 
    font-size: var(--size_span_font_size);
    font-weight:600;
    
    display: inline-block;
    position: relative;
}

/*label com descricao detalhada do tamanho*/
#product_info .productSize .sizeType {
    font-size: 1.5vw;
    text-align: center;
}

/*botao de adicionar ao carrinho*/
#product_info #addToCart {
    height: 5vw;
    margin-left: var(--button_margin);
    padding: var(--button_padding);
    border-radius: 5vw;

    color: white;
    background-color: var(--purple);

    text-decoration: none;
    font-size: 2vw;
    font-family: 'Zilla Slab', serif; 
    font-weight: 700;
    
    position: relative;
    text-align: center;
}

/*secao com botoes de adicionar ao carrinho e num de itens*/
.numAndCartContainer{
    width: 100%;
    margin: var(--button_margin);
    display: grid;
    grid-template-columns: auto auto auto;
}

/*botao de adicionar num de itens*/
#numProducts{
    width:auto;
    height: 5vw;
    padding: 0.5vw;
    margin-right: var(--button_margin);
    text-align: center;

    border: 0.2vw solid var(--light_gray);
    border-radius: 0.5vw;
}

#numProducts #btn_more, #numProducts #btn_less{
    border: none;
    color:var(--purple);
    background-color: white;
    font-size: 3vw;
    font-weight: bold;
}

/*label com o numero de itens*/
#numProducts #lbl_num{
    margin: 0.5vw;
    color:var(--dark_gray_font);
    font-size: 3vw;
}



/*Hover atributes*/

#product_info #addToCart:hover{
    background-color: var(--light_gray);
}

#product_info .productSize span:hover{
    background-color: var(--light_gray);
    color: white;
}