/* 
 * ---------------------------------------------------------------------------------------------
 * CSS PARA O CATALOGO/GRID DE PRODUTOS (usado na home e nas paginas de cada secao especifica ||
 * ---------------------------------------------------------------------------------------------
*/

/* Catalogo incluindo as categorias dos itens ('corpo' da pagina home)*/
#bodyWrapper {
    display: block;
    padding-top: 50px;
    /* border: 10px solid orange; */ /* <=== NÃO APAGAR! ESTOU USANDO PARA DEBUGAR O LAYOUT */
}

html{
    --bkg_color_gray: #EEEAE7;
    --purple: #9B64AC;
    --dark_gray_font: #47525E;
    --light_gray: #999;
    --coral:#FE8F5F;
}


/* Catalogo de produtos */
.allProductsCatalog { /* Elemento pai do grid */
    background-color: #fff;
    display: grid;
    min-height: 70vh;
    padding-top: 30px;
    /* border: 5px solid purple; */
}

#bodyWrapper h1 {
    padding-top: 5px;
}

#bodyWrapper h1 {
    font-size: 2vw;
    display: block;
    font-family: 'Bree Serif', serif;
    font-weight: 100;
    color: var(--dark_gray_font);
    padding: 1.5vw;
    /* border: 10px solid black; */
    background-color: #fff;
}

hr.rulerStyle {
    overflow: visible; /* IE */
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    z-index: 4;
    position: relative;
}

hr.rulerStyle::before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

/* Separacao dos cards */
.printsCatalog, .stickersCatalog, .shirtsCatalog {
    margin-bottom: 2.5em;
    /*box-shadow: 0 5px 0px 0px #f0f1f5, 0 -10px 0px 0px #f0f1f5, 1px 0 10px -4px rgba(0, 0, 0, 0.97), 1px 0 15px -4px rgba(0, 0, 0, 0.97);*/
}

/* Responsividade */
@media screen and (min-width: 300px) { /* mobile */
    /* grid */
    .allProductsCatalog {
        grid-template-columns: repeat(1, 1fr);
    }
    
    /* margem do corpo do site */
    #bodyWrapper {
        margin: -1px 20px;
    }
}

@media screen and (min-width: 800px) { /* tablet */
    /* grid */
    .allProductsCatalog {
        grid-template-columns: repeat(2, 1fr);
    }
    
    /* margem do corpo do site */
    #bodyWrapper {
        margin: -1px 40px;
    }
}

@media screen and (min-width: 1000px) { /* desktops */
    /* grid */
    .allProductsCatalog {
        grid-template-columns: repeat(3, 1fr);
    }
    
    /* margem do corpo do site */
    #bodyWrapper {
        margin: -1px 60px;
    }
}

@media screen and (min-width: 1200px) {
    /* grid */
    .allProductsCatalog {
        grid-template-columns: repeat(5, 1fr);
    }
    
    /* margem do corpo do site */
    #bodyWrapper {
        margin: -1px 100px 20px 100px;
    }
}

/* Produto individual */
.allProductsCatalog .productCard { /* Elemento pai dos elementos do card */
    position: relative;
    min-height: 700px;
    max-height: 900px;
    overflow: hidden;
    border-radius: 30px 30px 0 0;
    /* border: 5px solid red; */
    text-align: center;
} 

/* Elementos internos ao produto */
.productCard img {
    width: 80%;
    height: 55%;
    border-radius: 30px 30px 0 0;
    margin: 0 auto;
    display: block;
    /*box-shadow: -5px 3px 20px #888888*/
}

.productCard .productNameOnGrid {
    position: relative;
    font-size: 1.4vw;
    font-weight: 100;
    color:var(--dark_gray_font);
    top: 20px;
    display: block;
    font-family: 'Bree Serif', serif;
}

.productRuler {
    background-color: purple;
    position: relative;
    height: 2px;
    width: 250px;
    margin: auto;
    top: 30px;
}

@media screen and (max-width: 1500px) {
    .productRuler {
        width: 150px;
    }
}

.productCard .productPrice {
    color: var(--dark_gray_font);
    font-size: 1.8vw;
    font-weight: 600;
    position: relative;
    top: 40px;
    display: block;
    font-family: 'Oswald', sans-serif;
}

.productCard .productSize {
    position: relative;
    top: 60px;
}

.productCard .productSize p {
    font-family: 'Lato', sans-serif;
    font-size: 1.2vw;
    color: var(--dark_gray_font);
    top: 20px;
}

.productCard .productSize span {
    margin: 0.5vw;
    padding: 0.6vw;
    background-color: #fff;
    color: var(--dark_gray_font);
    border: 0.21vw solid var(--dark_gray_font);
    border-radius: 100%;
    position: relative;
    display: inline-block;
    font-family: 'Bree Serif', serif;
    font-size: 1.2vw;
}

.productCard .buyProductButton {
    border: 0.21vw solid #185424;
    color: #185424;
    border-radius: 50px;
    padding: 0.5vw 2.7vw;
    position: relative;
    top: 80px;
    font-size: 1.5vw;
    text-decoration: none;
    font-family: 'Bree Serif', serif;
    font-weight: 500;
}

.productCard .buyProductButton:hover {
    background-color: rgba(24, 84, 36, 0.3);
}