

h4, h3, h1{
    font-family: 'Bree Serif', serif;
}

h4, h3{
    font-weight: 200;
    margin-top: 2vw;
}

h1{
    font-weight: 600;
}

label{
    font-family: 'Arvo', serif;
    color: var(--dark_gray_font);
    font-size: 1em;
}

#price{
    color: var(--purple);
    font-family: 'Oswald', sans-serif;
    font-size:2em;
}

#description{
    margin-top: 10px;
}

.product-size{
    width: 100%;
    padding-bottom: 2vw;
    display: flex;
    justify-content: center;
}

/*Circulos com os tipos de tamanho*/
.product-info .product-size span {
    margin: 0.8em 0.8em 0.3em 0.8em;
    padding: 0.3em 0.9em 0.3em 0.9em;
    background-color: #fff;
    border: 0.1em solid #999;
    border-radius: 1em;
    top: 5px;
    
    font-family: 'Bree Serif', serif;
    font-size: 1.5em;
    font-weight:500;
    
    display: inline-block;
    position: relative;
}


.product-info .product-size span:hover{
    background-color: var(--light_gray);
    color: white;
}