html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    background-image: url("./assets/visual_identity/backgrounds/fundo_menor_gray_maior.png");
    background-color: #fff;
    z-index: -3;
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
}

button {
	border: unset;
	background-color: unset;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	color: inherit; 
}

@import url('https://fonts.googleapis.com/css2?family=Manjari&display=swap');

body {
	display: flex;
	justify-content: center;
	font-family: 'Manjari', sans-serif;
	color: #F0F0F0;
	background-color: #4C4C4C;
	height: 100%;
	width: 100%;
	padding: 16px;
	box-sizing: border-box;
}

#root {
	width: 100%;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: unset;
}

::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}


/* --- Barra de navegacao do site --- */

/* Para menu responsivo */
.toggleResponsiveMenu { 
    font-size: 30px;
    color: #000;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;

    display: none; /* nos desktops e tablets, nao aparece */
}


/* Caixinha do checkbox que ativa ou desativa o menu sanduiche */
#check { 
    display: none; /* nos desktops e tablets, nao aparece */
    float: right;
}

/* Para menu responsivo */
.smartphoneLogin { 
    color: #000;
    line-height: 80px;
    margin-right: 40px;

    display: none; /* nos desktops e tablets, nao aparece */
}

/* Flex container das divs (1: com a logo e o menu; 2: do botao de entrar) */
nav { 
    background-color: #fff;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#logoJagua {
    color: #fff;
    display: inline;
    margin-left: 4%; 
    margin-top: -.5em;
}

/* acertando imagem na navbar */
#logoJagua img {
    height: 130px;
    z-index: 0;
}

nav ul {
    margin-left: 1em;
    flex-grow: 2; /* Evitar sobreposicao na logo, mas manter distancia */
    position: relative;
    top: 25px; /* Aumente para descer a altura dos links da barra de navegacao */
}

nav ul li {
    display: inline-block;
    margin: 0 5px;
}

a.navLink {
    padding: 20px 20px 5px 20px;
    color: #000;
    text-decoration: none;
    font-weight: 550;
    font-size: 1.6vw;
    font-family: 'Lato', sans-serif;
    position: relative; /* Para aplicar z-index */
    z-index: 1;
}

#loginButton {
    padding: 0 50px;
    background-color: rgba(44, 44, 44, 1);
    stroke-width: 1px;
    font-size: 24px;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    font-family: 'Arvo', serif;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    color: #fff;
    line-height: 60px; /* Posicionar texto verticalmente */
}

#loginButton:hover {
    background-color: rgba(44, 44, 44, 0.5);
}

nav #highlightNavBar {
    background-color: #ff9052;
    position: absolute;
    height: 4em;
    top: -10px;
    z-index: 0;
    transition: all 0.5s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}

/* --------------------------------------*/
/* Layout responsivo para telas menores */
/* --------------------------------------*/

@media screen and (max-width: 1300px) {
    nav ul {
        top: 40px;
    }

    nav #highlightNavBar {
        height: 2.5em;
    }

    #loginButton {
        line-height: 75px;
    }
}

@media screen and (max-width: 1150px) {
    #loginButton {
        padding: 0 20px;
        line-height: 50px;
        margin-top: 3%;
        margin-bottom: 2%;
    }
}

@media screen and (max-width: 1000px) {
    #loginButton {
        padding: 0 10px;
        margin-bottom: 3%;
        margin-top: 3%;
        line-height: 50px;
        font-size: 20px;
    }
}

/* Resolucao para tablet */
@media screen and (max-width: 952px) {    
    a.navLink {
        font-size: 1em;
    }
}

/* Resolucao para smartphone */
@media (max-width: 858px) {
nav ul {
    top: 100px;
    margin-left: 0;
    position: absolute;
}

nav #highlightNavBar {
    display: none;
}

.toggleResponsiveMenu {
    display: block;
    margin-left: 1em;
}

#loginButton {
    display: none;
}

ul {
    width: 100%;
    height: auto;
    background: var(--coral);
    top: 0;
    left: -110%;
    text-align: center;
    transition: all .5s;
    z-index: 5;
    border-radius: 1%;
}

nav ul li {
    display: block;
    margin-bottom: 1em 0;
    line-height: 30px;
    font-size: 2em;
    padding: 1em;
    transition: all .5s;
    margin: 0;
    position: relative;
}

nav ul li a {
    font-size: 20px;
}

li:hover {
    background-color: rgb(194, 92, 55);
}

.smartphoneLogin {
    display: block;
    font-size: 30px;
    color: #000;
}

.fa-sign-in-alt {
    color: #000;
}

#check:checked ~ ul {
    left: 0;
    z-index: 10;
}
}